<h1>Dashboard By Memecorp</h1>
    <div class="my-3">
        <a class="btn btn-success" href="/jsondatabase/v1/create" role="button">Create New</a>
    </div>
    {{#if message}}
        <div class="alert {{messageClass}}" role="alert">
            {{message}}
        </div>
    {{/if}}  
    <h1>Database</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>File</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
           {{#if result}}
               {{#each result}}
                    <tr>
                        <td>{{this}}</td>
                        <td>
                            <a class="btn btn-primary" href="/jsondatabase/v1/write?{{this}" role="button">Edit</a>
                            <a class="btn btn-danger" onclick="return confirm('Delete movie data? You will not be able to recover it.');" href="<?= base_url('delete/'.$row['id']) ?>" role="button">Delete</a>
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                <div class="text-center">
                   <div class="alert alert-danger" role="alert">
                       <strong>No Data</strong>
                   </div>
                </div>
            {{/if}}
        </tbody>
    </table>
</div>
