<div class="row justify-content-md-center" style="margin-top: 100px">
    <div class="col-md-6">
      <div class="card">
            <div class="card-header bg-transparent mb-0">
            <h5 class="text-center">
              Write <span class="font-weight-bold text-primary">FILE</span>
            </h5>
            </div>
      {{#if message}}
         <div class="alert {{messageClass}}" role="alert">
             {{message}}
         </div>
      {{/if}}
      <div class="card-body">
      <form method="POST" action="/jsondatabase/v1/write">
         <input type="hidden" id="oldNameFile" name="oldNameFile" value="{{nameFileValue}}">
         <div class="form-group">
             <label for="nameFile">Name File</label>
             <input name="nameFile" type="text" class="form-control" id="nameFile" placeholder="Enter name file" value="{{nameFileValue}}">
         </div>
         <div class="form-group">
             <label for="contentsFile">Contents File</label>
             <textarea class="form-control" rows="5" name="contentsFile" id="contentsFile" placeholder="Enter contents">{{contentsFileValue}}</textarea>
         </div>
         <div>
             <button type="submit" class="btn btn-primary btn-block">Submit</button>
             <button type="reset" class="btn btn-danger btn-block" onclick="window.location.href='/jsondatabase/v1/dashboard';">Cancel</button>
         </div>
       </form>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
